include ../basic/head
    title= 'My Notes | Guest book'
body
    include ../basic/navbar
    div.jumbotron
        div.container
            div.row
                //
                    Start menu
                div.col-xs-2.left
                    include ../basic/menu
                //
                    end menu
                //
                    Start profile
                div.row
                    div.col-xs-9.text-center
                        a.btn.btn-success(href="/note/editor")
                            span Создать запись
                        h3.h3= 'Мои записи:'
                        if notes
                            ul.list-group.text-center
                                each note in notes
                                    li.list-group-item
                                        a.navbar-link(href="/note/" + note.id)= note.title
                                        br
                                        div.text-justify= note.text
                                        br
                                        span= 'created: ' + note.create
                                        form(action="/note/delete/" + note.id, method="post")
                                            button.btn.btn-danger(type="submit") Удалить
                                        form(action="/note/edit/" + note.id, method="post")
                                            button.btn.btn-warning(type="submit") Изменить
                        else
                            div.text-warning Здесь пока нет записей!
                        if pageCount
                            -var i = 1;
                            while i < pageCount + 1
                                a.btn-default(href="/notes/" + i)= i++